<!doctype html>
<title>My Blog</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<div class="image">
    <img src="{{ url_for('static', filename='img/23.jpg') }}">
    <div class="textback">My Tech Blog</div>
    <div id="movedown">Scroll Down For View Site...</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
        <div class="span12">
            <hr>
            <center>
            <form action="/search" method="post">
                <input class="span3 search-query" type=text placeholder="Search By Title" name=search value="{{ request.form.search }}">
                <input class="btn" type=submit id="serbtn" value="Search">
            </form>
            </center>
            

            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li><a href="/"><h4>Home</h4></a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/add"><h4>Enter post</h4></a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="/"><h4>Posts</h4></a></li>
                        <li class="divider-vertical"></li>
                        {% if not session.logged_in %}
                            <li><a href="{{ url_for('login') }}"><h4>Log In</h4></a></li>
                            <li class="divider-vertical"></li>
                        {% else %}
                            <li><a href="{{ url_for('logout') }}"><h4>Log Out</h4></a></li>
                            <li class="divider-vertical"></li>
                        {% endif %}
                        <li><a href="/about"><h4>About Me</h4></a></li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>

    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <!-- <div id="banner">
        <img src="{{ url_for('static', filename="img/bluekeyboard.jpg") }}" width="2100">
    </div> -->

    <div id="content">    
        {% block body %}{% endblock %}
    </div>
    <!-- <div id="footer">
    	Copyright &copy; 2014 SimplanS
    </div> -->
</div>
