{% extends "base.html" %}
{% block body %}
    <div id="logpad">
        <center><h2>Login</h2></center>
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <center>
            <form action="{{ url_for('login') }}" method=post>
                <dl>
                    <dd><input class="span3" id="logbtn" type="text" name="username" placeholder="Username" style="color: #0B4008; font-size: 20px;">
                    <dd><input class="span3" id="logbtn" type="password" name="password" placeholder="Password" style="color: #0B4008; font-size: 20px;">
                    <dd><input class="btn btn-primary" id="logbtn" class="myButton" type="submit" value="Login">
                </dl>
            </form>
            <br>
        </center>
    </div>
{% endblock %}